@media screen {
    *, *::before, *::after{
        margin: 0;
        padding: 0;
    }
    html {
        scroll-behavior: smooth;
        display: block;
    }
    html, body {
        width: 100%;
        height: 100%;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
    }
    a  {
        text-decoration: none;
        cursor: pointer;
        color: white;
        width: 100%;
        height: 100%;
    }
    section#welcome-section {
        width: 100%;
        height: 100%;
        /* display: flex;
        justify-content: space-around; */
        padding-top: 80px;
        background-color: rgb(44, 42, 42);
        padding-bottom: 300px;
    }
    div.welcome {
        width: 100%;
        height: 1vh;
        font-size: 38px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
        padding-top: 15%;
    }
    div.welcome h1 {
        margin: auto;
        color: white;
        margin-bottom: 10px;
    }
    div.welcome p {
        margin: auto;
        color: rgb(161, 59, 59);
        margin-bottom: 10px;
        margin-bottom: 55px;
    }
    .welcome a:hover {
        color: rgb(94, 94, 158);
    }
}
div.nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 10%;
    border: 20px;
    font-size: 36px;
    color: white;
    background-color: rgb(161, 59, 59);
    top: 0;
    right: 0;
}
#navbar {
    color: white;
    height: 1vh;
}
ul {
    padding: 0;
    width: 100%;
  }
li {
    display: inline-flex;
    justify-content: space-around;
    align-content: right;
    text-align: right;
    width: auto;
    height: 60px;
    padding-left: 100px;
    color: white;
}
.nav li a:hover {
    background-color: rgb(94, 94, 158);
    border-radius: 5px;
    width: 100%;
    height: 105%;
}
#test-doc {
    background-color: rgb(102, 96, 96);
    top: 0;
    padding-bottom: 40px;
    padding-top: 20px;
}
#projects {
    background-color: rgb(119, 119, 172);
    top: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}
#projects h1, #test-doc h1{
    font-size: 36px;
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 20px;
    text-decoration: underline;
}
.other a {
    align-content: center;
    text-align: center;
    background-color: rgb(161, 59, 59);
    color: white;
    border: none;
    border-radius: 5px;
    width: 400px;
    height: 40px;
    padding-top: 10px;
    font-size: 30px;
    padding-bottom: 10px;
    margin-left: 50%;
    font-style: italic;
    font-weight: 200;
}
.other a:hover {
    color: rgb(119, 119, 172);
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 40px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 40px;
    padding-bottom: 40px;
    margin-bottom: 0;
}
.project_title {
    background-color: rgb(102, 96, 96);
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    margin: auto;
    padding: auto;
    text-align: center;
    width: 400px;
    height: 40px;
    padding-top: 10px;
    font-size: 30px;
}
.doc_title {
    background-color: rgb(161, 59, 59);
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    margin: auto;
    padding: auto;
    text-align: center;
    width: 850px;
    height: 40px;
    padding-top: 10px;
    font-size: 30px;
}
.project-image, .doc-image {
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px
}
section#contact {
    display: block;
    text-align: center;
    background-color: rgb(44, 42, 42);
    color: white;
    top: 0;
    height: 300px;
    padding-top: 3%;
    padding-bottom: 50px;
}
div.work p {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 30px;
    font-style: italic;
    font-weight: 500;
}
div.work h1 {
    color: rgb(161, 59, 59);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: 900;
}
a#profile-link {
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}
a#profile-link:hover {
    color: rgb(161, 59, 59);
}
i {
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 30px;
}
.fab, .fa {
    color: rgb(94, 94, 158);
}
